[Unit]
Description="Set Brave Browser Preferences"
After=graphical-session.target

[Service]
ExecStart=%h/dotfiles/brave-setup.sh
Type=oneshot
SuccessExitStatus=0

[Install]
WantedBy=default.target

