#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    // background_color: None,
    // text_color: None,
    // header_background_color: None,
    // modal_background_color: None,
    text_color: "#cad3f5",
    background_color: "#24273a",
    header_background_color: "#1e2030",
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "black", bg: "#c6a0f6", modifiers: "Bold"),
        inactive_style: (),
    ),
    borders_style: (fg: "#6e738d"),
    highlighted_item_style: (fg: "#c6a0f6", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "#b7bdf8", modifiers: "Bold"),
    highlight_border_style: (fg: "#b7bdf8"),
    // symbols: (song: "S", dir: "D", marker: "M", ellipsis: "..."),
    symbols: (song: "🎵", dir: "📁", marker: "\u{e0b0}", ellipsis: "..."),
    // progress_bar: (
    //     symbols: ["-", ">", " "],
    //     track_style: (fg: "#1e2030"),
    //     elapsed_style: (fg: "blue"),
    //     thumb_style: (fg: "blue", bg: "#1e2030"),
    // ),
    progress_bar: (
        symbols: ["=", "⭘", " "],
        track_style: (bg: "#1e2030"),
        elapsed_style: (fg: "#c6a0f6", bg: "#1e2030"),
        thumb_style: (fg: "#c6a0f6", bg: "#1e2030"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#b7bdf8"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "4",
            ),
            (
                pane: Pane(Tabs),
                size: "3",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                borders: "ALL",
                size: "3",
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#A6E3A1", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "#A6E3A1", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#A6E3A1", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "#b7bdf8", modifiers: "Bold")),
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#A6E3A1", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#A6E3A1", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                right: [
                    // (
                    //     kind: Property(Widget(States(
                    //         active_style: (fg: "white", modifiers: "Bold"),
                    //         separator_style: (fg: "white")))
                    //     ),
                    // ),
                    (
                        kind: Property(Status(RepeatV2(
                            off_label: " ",
                            on_label: " ",
                            repeat_label: " ",
                            on_style: (
                             fg: "white",
                             modifiers: "Bold",
                            ),
                            off_style: (
                             fg: "#6c7086",
                             modifiers: "Dim",
                            ),
                        ))),
                    ),
                    (
                        kind: Property(Status(RandomV2(
                            off_label: "  ",
                            on_label: "  ",
                            random_label: "  ",
                            on_style: (
                             fg: "white",
                             modifiers: "Bold",
                            ),
                            off_style: (
                             fg: "#6c7086",
                             modifiers: "Dim",
                            ),
                        ))),
                    ),
                    (
                        kind: Property(Status(ConsumeV2(
                            on_label: "  ",
                            off_label: "  ",
                            consume_label: "  ",
                            on_style: (fg: "white", modifiers: "Bold"),
                            off_style: (fg: "#6c7086", modifiers: "Dim"),
                        ))),
                    ),
                    (
                        kind: Property(Status(SingleV2(
                            on_label: " 󰑘 ",
                            off_label: " 󰑘 ",
                            oneshot_label: " 󰑘 ",
                            on_style: (fg: "white", modifiers: "Bold"),
                            off_style: (fg: "#6c7086", modifiers: "Dim"),
                        ))),
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)

