#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    draw_borders: false,
    show_song_table_header: true,
    background_color: "#1e1e2e",
    default_album_art_path: None,
    header_background_color: "#313244",
    modal_background_color: "#313244",
    modal_backdrop: true,
    text_color: "#cdd6f4",
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "4",
                borders: "ALL",
                pane: Split(
                    direction: Vertical,
                    panes: [
                        (
                            size: "1",
                            direction: Vertical,
                            pane: Split(
                                direction: Horizontal,
                                panes: [
                                    (
                                        size: "23",
                                        pane: Pane(Property(
                                            content: [
                                                (kind: Property(Status(StateV2(
                                                    modifiers: "Bold",
                                                    playing_label: "[Playing]",
                                                    playing_style: (
                                                        fg: "#a6e3a1",
                                                        modifiers: "Bold",
                                                    ),
                                                    paused_label: "[Paused]", 
                                                    paused_style: (
                                                        fg: "#f9e2af",
                                                        modifiers: "Bold",
                                                    ),
                                                    stopped_label: "[Stopped]",
                                                    stopped_style: (
                                                        fg: "#f38ba8",
                                                        modifiers: "Bold",
                                                    ),
                                                )))),
                                            ], align: Left,
                                        )),
                                    ),
                                    (
                                        size: "100%",
                                        borders: "LEFT | RIGHT",
                                        pane: Pane(Property(
                                            content: [
                                                (kind: Property(Song(Filename)), style: (modifiers: "Bold"),
                                                    default: (kind: Text("No Song"), style: (modifiers: "Bold")))
                                            ], align: Center, scroll_speed: 1
                                        )),
                                    ),
                                    (
                                        size: "23",
                                        pane: Pane(Property(
                                            content: [
                                                (kind: Property(Widget(Volume)), style: (fg: "#89b4fa", modifiers: "Bold"))
                                            ], align: Right
                                        )),
                                    ),
                                ],
                            ),
                        ),
                        (
                            size: "1",
                            direction: Vertical,
                            pane: Split(
                                direction: Horizontal,
                                panes: [
                                    (
                                        size: "23",
                                        pane: Pane(Property(
                                            content: [
                                                (kind: Property(Status(Elapsed))),
                                                (kind: Text(" / ")),
                                                (kind: Property(Status(Duration))),
                                                (kind: Group([
                                                    (kind: Text(" (")),
                                                    (kind: Property(Status(Bitrate))),
                                                    (kind: Text(" kbps)")),
                                                ])),
                                            ], align: Left,
                                        )),
                                    ),
                                    (
                                        size: "100%",
                                        borders: "LEFT | RIGHT",
                                        pane: Pane(Property(
                                            content: [
                                                (kind: Property(Song(Artist)), style: (fg: "#a6e3a1", modifiers: "Bold"),
                                                    default: (kind: Text("Unknown"), style: (fg: "#a6e3a1", modifiers: "Bold"))),
                                                (kind: Text(" - ")),
                                                (kind: Property(Song(Album)), default: (kind: Text("Unknown Album")))
                                            ], align: Center, scroll_speed: 2
                                        )),
                                    ),
                                    (
                                        size: "23",
                                        pane: Pane(Property(content: [
                                            (kind: Property(Status(RepeatV2(
                                                on_label: " ",
                                                off_label: " ",
                                                on_style: (fg: "#f9e2af", modifiers: "Bold"),
                                                off_style: (fg: "#89b4fa", modifiers: "Dim"),
                                            )))),
                                            (kind: Text(" /  ")),
                                            (kind: Property(Status(RandomV2(
                                                on_label: " ",
                                                off_label: " ",
                                                on_style: (fg: "#f9e2af", modifiers: "Bold"),
                                                off_style: (fg: "#89b4fa", modifiers: "Dim"),
                                            )))),
                                            (kind: Text(" /  ")),
                                            (kind: Property(Status(ConsumeV2(
                                                on_label: " ",
                                                off_label: " ",
                                                oneshot_label: " ",
                                                on_style: (fg: "#f9e2af", modifiers: "Bold"),
                                                off_style: (fg: "#89b4fa", modifiers: "Dim"),
                                                oneshot_style: (fg: "#f38ba8", modifiers: "Bold"),
                                            )))),
                                            (kind: Text(" /  ")),
                                            (kind: Property(Status(SingleV2(
                                                on_label: "󰑘 ",
                                                off_label: "󰑘 ",
                                                oneshot_label: "󰑘 ",
                                                on_style: (fg: "#f9e2af", modifiers: "Bold"),
                                                off_style: (fg: "#89b4fa", modifiers: "Dim"),
                                                oneshot_style: (fg: "#f38ba8", modifiers: "Bold"),
                                            )))),
                                        ], align: Center)),
                                    ),
                                ],
                            ),
                        ),
                    ]
                )
            ),
            (
                size: "3",
                borders: "ALL",
                pane: Pane(Tabs),
            ),
            (
                size: "100%",
                borders: "ALL",
                background_color: "#f38ba8",
                pane: Pane(TabContent),
            ),
            (
                size: "3",
                borders: "ALL",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            pane: Pane(Property(content: [(kind: Property(Status(StateV2(playing_label: "  ", paused_label: "  ", stopped_label: "  ",
                                playing_style: (fg: "#a6e3a1"), paused_style: (fg: "#f9e2af"), stopped_style: (fg: "#f38ba8")
                            ))))], align: Left)),
                            size: "3",
                        ),
                        (
                            size: "100%",
                            pane: Pane(ProgressBar),
                        ),
                        (
                            size: "13",
                            pane: Pane(Property(
                                content: [
                                    (kind: Property(Status(Elapsed))),
                                    (kind: Text(" / ")),
                                    (kind: Property(Status(Duration))),
                                ], align: Right,
                            )),
                        ),
                    ]
                ),
            ),
        ]
    ),
    symbols: (
        song: "🎵",
        dir: "📁",
        marker: "\u{e0b0}",
        ellipsis: "…"
    ),
    progress_bar: (
        symbols: ["█", "\u{e0b0}", "█"],
        track_style: (fg: "#313244"),
        elapsed_style: (fg: "#89b4fa"),
        thumb_style: (fg: "#89b4fa", bg: "#313244"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#89b4fa"),
    ),
    browser_column_widths: [20, 38, 42],
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    tab_bar: (
        active_style: (fg: "#1e1e2e", bg: "#89b4fa", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "#f38ba8", modifiers: "Bold"),
    current_item_style: (fg: "#1e1e2e", bg: "#89b4fa", modifiers: "Bold"),
    borders_style: (fg: "#89b4fa", modifiers: "Bold"),
    highlight_border_style: (fg: "#f38ba8"),
    song_table_format: [
        (
            prop: (kind: Property(Other("albumartist")), default: (kind: Property(Artist), default: (kind: Text("Unknown")))),
            width: "20%",
            label: "Artist"
        ),
        (
            prop: (kind: Property(Title), default: (kind: Text("Unknown"))),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), default: (kind: Text("Unknown Album"))),
            width: "45%",
        ),
        (
            prop: (kind: Property(Duration), default: (kind: Text("-"))),
            width: "5",
            alignment: Right,
            label: "Duration"
        ),
    ],
    header: (rows: []),
)

