[Unit]
Description=Periodically prefer local routes over Tailscale when on trusted LAN

[Timer]
OnBootSec=15
OnUnitActiveSec=30

[Install]
WantedBy=timers.target
